<nav class="login-nav d-flex p-2">
    <div class="col-4"><a href="/"><i class="fa fa-arrow-left" aria-hidden="true"></i></a></div>
    <div class="col-4">LOGIN</div>
</nav>

<div class="login-page">

    <div>

        <%= form_with(url: login_path, scope: :session, local: true) do |f| %>

        <%= f.text_field :name, class: 'login-field', placeholder: "Username", id: "name" %>

        <%= f.submit "Log in", class: "hello" %>
        <% end %>
        <% flash.each do |type, msg| %>
        <div class="alert alert-danger mt-2">
            <%= msg %>
        </div>
        <% end %>
    </div>
</div>