<html class="white-con">
<div class="homepage d-flex flex-column justify-content-center">
    <div class="text-center home align-items-center">
        <h1>Wishes</h1>
    </div>
</div>
<div class="text-center d-flex flex-column">
    <%= link_to "Log in", login_path, class: "button btn" %>
    <%= link_to "Sign up", signup_path, class: "text mt-2" %>
</div>

</html>