<nav class="login-nav d-flex p-2">
    <div class="col-4"><a href="/"><i class="fa fa-arrow-left" aria-hidden="true"></i></a></div>
    <div class="col-4">REGISTER</div>
</nav>

<div class="login-page">
    <div>
        <%= form_with(model: @user, local: true) do |f| %>

        <%= f.text_field :name, class: 'login-field', placeholder: "Username" %>
        <% @user.errors.full_messages_for(:name).each do |m| %>
        <div class="alert alert-danger mt-1">
            <%= m %>
        </div>
        <% end %>
        <%= f.submit "next", class: "hello" %>
        <% end %>


    </div>
</div>